mixin input-thumbs()
  .input-thumbs
    label(
          class= "input-thumbs__label"
        ) Thumb 1:
          input(
            class= "input-thumbs__input js-input-thumbs__input"
            type= "number"
          )
    label(
          class= "input-thumbs__label"
        ) Thumb 2:
          input(
            class= "input-thumbs__input js-input-thumbs__input"
            type= "number"
          )