mixin input-orientation()
  .input-orientation
    p.input-orientation__title Orientation:
    label(
          class= "input-orientation__label"
        ) Horizontal
          input(
            class= "input-orientation__input js-input-orientation__input"
            type= "radio"
            name= "orientation"
            value= "horizontal"
          )
    label(
          class= "input-orientation__label"
        ) Vertical
          input(
            class= "input-orientation__input js-input-orientation__input"
            type= "radio"
            name= "orientation"
            value= "vertical"
          )