mixin input-type()
  .input-type
    p.input-type__title Slider type:
    label(
          class= "input-type__label"
        ) Horizontal
          input(
            class= "input-type__input"
            type= "radio"
            name= "horizontal"
          )
    label(
          class= "input-type__label"
        ) Vertical
          input(
            class= "input-type__input"
            type= "radio"
            name= "horizontal"
          )