mixin input-type()
  .input-type
    p.input-type__title Slider type:
    label(
          class= "input-type__label"
        ) Single
          input(
            class= "input-type__input js-input-type__input"
            type= "radio"
            name= "type"
          )
    label(
          class= "input-type__label"
        ) Range
          input(
            class= "input-type__input js-input-type__input"
            type= "radio"
            name= "type"
          )